<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Soft Skills</h2>
      <img src="_site/assets/img/cartoon-books.jpg" height="64px" width="64px"/>
    <img src="_site/assets/img/leadership.png" height="64px" width="64px"/>
<img src="_site/assets/img/Sigma-Phi-Epsilon.png" height="64px" width="64px"/>
    <p>I am a history and technology lover who enjoys working in team settings to build cool things. I practice communication-oriented leadership in multiple campus organizations.</p>
    </div>
    <div class="tech">
      <h2>Software</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-pytorch-original colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <p>I'm passionate about learning and utilizing software for automation and machine learning to solve complex problems in my research, personal projects and work. </p>
    </div>
    <div class="tech">
      <h2>Hardware</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matlab/matlab-original.svg" height="64px" width="64px"/>
      <img src="_site/assets/img/ARM_architecture-Logo.wine.png" height="64px" width="64px"/>
      <img src="_site/assets/img/cloudarm.jpg" />
      <p>I work with microprocessors, embedded C + assembly, and custom PCB designs to solve problems in the classroom, at work and with hobby. </p>
    </div>
</div>
