<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AI Image Recognizer Web-App </h3>
    <ul>
      <li></li>
    <li>Trained convolutional neural network on 3000 labeled plant-species images achieving 94% accuracy.</li>
    <li>Integrated the model into a React front-end with TensorFlow.js for in-browser inference</li>
    <li>Built out the project</li></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 8-Bit CPU in VHDL </h3>
    <ul>
      <li>Implemented an 8‑bit RISC CPU with general‑purpose registers, an ALU, and a micro‑coded control unit.</li>
      <li>Crafted a custom instruction set and assembler; executed Fibonacci and sorting benchmarks.</li>
      <li>Validated timing and logic with GTKWave simulations and automated testbenches.</li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
  <a href="Resume_Rogalski_Theodore__2025_.pdf" alt="Theo's resume"></a>
</div>
