<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cyber eye" src="https://images.ctfassets.net/3viuren4us1n/1Ghw96A2tcYRfRezOwtmjx/04efa17f5d5beb042bbb7f8dc18764e2/Computer_vision.jpg?fm=webp&w=1920" />
  </div>
  <div class="contents">
    <h3> AI Image Recognizer Web-App </h3>
    <ul>
    <li>Trained convolutional neural network on 3000 labeled plant-species images achieving 94% accuracy.</li>
    <li>Integrated the model into a React front-end with TensorFlow.js for in-browser inference</li>
    <li>Built out the project</li></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <iframe alt="hardware" src="https://drive.google.com/file/d/1gBJws9roGcJzXrn051UcZZSaXfeTX_qH/preview" width="450" height="250"></iframe> 
  </div>
  <div class="contents-right">
    <h3> 8-Bit CPU in VHDL </h3>
    <ul>
      <li>Implemented an 8‑bit RISC CPU with general‑purpose registers, an ALU, and a micro‑coded control unit.</li>
      <li>Crafted a custom instruction set and assembler; executed Fibonacci and sorting benchmarks.</li>
      <li>Validated timing and logic with GTKWave simulations and automated testbenches.</li>
    </ul>  </div></div>
